####################################
# Java + Maven + Spring Boot
####################################
target/                        # Maven build output
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Spring Boot environment configs (avoid committing secrets)
application-*.yml
application-*.properties


####################################
# .NET Core
####################################
# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Packages
*.nupkg
*.snupkg
*.nuspec
*.psess
*.vsp
*.vspscc
*.pdb
*.cache
*.dll

# Publish output
publish/
dist/

# ASP.NET Core
appsettings.Development.json
appsettings.*.json

# Azure
PublishProfiles/

# Tye
.tye/

####################################
# OS specific
####################################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

####################################
# Other temporary files
####################################
*.swp
*.swo
