
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Transflower Learning Pvt. Ltd. is a company dedicated to providing high-quality education and training in the field of web development and software engineering.</p>
<p>Founded by a team of experienced professionals, we aim to empower individuals with the skills and knowledge needed to succeed in the tech industry.</p>
<p>Our mission is to create a learning environment that fosters innovation, creativity, and practical skills through hands-on projects and real-world applications.</p>

<p>We believe in the power of learning by doing, and our courses are designed to provide students with the tools they need to build their own web applications and software solutions.</p>

<p>Founder: Ravi Tambade & Shubhangi Tambade</p>
