@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Transflower</h1>
    <hr/>
    <ol>
        <li>Project based Learning</li>
        <li>Learn by doing</li>
        <li>Build your own web app</li>
        <li>Use the latest technologies</li>
    </ol>
</div>
